
    /**
     * @covers {className}::{origMethodName}
     * @todo   Implement test{methodName}().
     */
    public function test{methodName}({expected}{arguments})
    {
        $this->assertEquals(
            $expected,
            $this->object->{origMethodName}({arguments})
        );
    }
